{% extends "base.html" %}

{% block contenido %}

<div class="card">

<h1>Mecanico a domicilio 🚗</h1>
<p>Reparamos tu auto sin que salgas de casa</p>

<p>✔ Mas de 10 años de experiencia</p>
<p>✔ Trabajos garantizados</p>
<p>✔ Atencion rapida</p>

<a class="btn" href="https://wa.me/5491162707337?text=Hola%20quiero%20un%20presupuesto">
Solicitar presupuesto GRATIS por WhatsApp
</a>

<p style="color:red; font-weight:bold;">
Atendemos hoy mismo ⚡
</p>

</div>

{% endblock %}
